<!-- For the timer functionality -->
<%= javascript_pack_tag 'timer', 'data-turbolinks-track': 'reload' %>
<div class='container mt-5'>
    <h1 style="font-size: 75px; font-family: 'Indie Flower', cursive; color: white; text-align: center;">
        <strong>myTimer</strong> <%= icon('far', 'clock', class: 'strong') %>
    </h1>
    <br><br>
    <h3 style="font-family: 'Varela Round', sans-serif; color: white; text-align: center;" id='sess-msg'>
        begin a new session.
    </h3>

    <div class="row mt-5">
        <div class='col-4'></div>
        <div class='col-4 p-5 rounded-lg' id='timer' align='center'>00:00</div>
        <div class='col-4'></div>
    </div>
    
    <div class='row mt-3'>
        <div class='col' align='right'>
            <button type='button' class='btn btn-danger change-time-btn' id='sub-btn'>
                <strong>-</strong>
            </button>
        </div>
        <div class='col'>
            <button type='button' class='btn btn-danger change-time-btn' id='add-btn'>
                <strong>+</strong>
            </button>
        </div>
    </div>

    <div align='center' class='mt-3'>
        <input type="number" placeholder="enter time (in minutes) here." id="time-input" min="5" max="60" value="25">
    </div>

    <div align='center' class='mt-3'>
        <button type='button' class='btn btn-danger p-3' id='start-button'>
            begin session!
        </button>
    </div>

    <div align='center' class='mt-3'>
        <span>
            <button type='button' class='btn btn-danger p-3 session-btn' style='display: none' id='cancel-btn'>

            </button>
        </span>
        <span>
            <button type='button' class='btn btn-danger p-3 session-btn' style='display: none' id='forfeit-btn' data-toggle="modal" data-target="#sub-modal" data-tooltip="tooltip" title="are you sure?">
                give up
            </button>
        </span>
    </div>
    <div align='center' id="exit-link">
        <a href='/welcome' style='color:black;'>go back to home page.</a>
    </div>

    <button type="button" id="invis-btn-s" class="btn btn-primary" data-toggle="modal" data-target="#sub-modal" style="display: none;">

    </button>

    <div class="modal fade" id="sub-modal" aria-labelledby="sub-modal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-3" align='center'>

                    <div id='modal-msg'>

                    </div>

                    <%= form_for(@record) do |f| %>
                        <div>
                            <%= f.hidden_field :uname, :placeholder => 'username here', :value => current_user.uname, :id => 'uname-field' %>
                            <%= f.hidden_field :duration, :placeholder => 'duration here', :id => 'duration-field' %>
                            <%= f.hidden_field :success, :placeholder => 'success here', :id => 'success-field' %>
                        </div>
                        <br>
                        <div>
                            <%= f.submit "ok.", class: 'reg-submit' %>
                        </div>
                    <% end %> 

            </div>
        </div>
    </div>

</div>