<div class='container mt-5'>
    <h1 style="font-size: 75px; font-family: 'Indie Flower', cursive; color: white; text-align: center;">
        <strong>myTimer</strong> <%= icon('far', 'clock', class: 'strong') %>
    </h1>

    <h3 style="font-family: 'Varela Round', sans-serif; color: white; text-align: center; margin-top: 55px;" id='sess-msg'>
        <%= current_user.uname %>'s achievements.
    </h3>

    <div class="row mt-5">
        <div class="col-3">

        </div>

        <div class="col-6">
            <% for i in Merit::Badge.all.keys %>
                <% if current_user.badges.include?(Merit::Badge.find(i)) %>
                    <% b = Merit::Badge.find(i) %>
                    <div class="achievement-have">
                        <div class="row">
                            <div class="col-3">
                                <div class="have-img-wrapper">
                                    <img class="achievement-icon" src=<%= b.custom_fields[:image_path] %>/>
                                </div>
                            </div>
                            <div class="col-9 p-1">
                                <h3><u><strong><%= b.name %></strong></u><br></h3>
                                <p><%= b.description %></p>
                            </div>
                        </div>
                    </div>
                <% else %>
                    <div class="achievement-not-have">
                        <div class="row">
                            <div class="col-3">
                                <div class="not-have-img-wrapper">
                                    <img class="achievement-icon" src="/images/no_achievement.png"/>
                                </div>
                            </div>
                            <div class="col-9 p-1">
                                <h3><u><strong>???</strong></u><br></h3>
                                <p>??????????</p>
                            </div>
                        </div>
                    </div>
                <% end %>
                <br>
            <% end %>
        </div>

        <div class="col-3">

        </div>
    </div>

    <div align='center' id="exit-link">
        <a href='/welcome' style='color:black;'>&larr; go back to home page.</a>
    </div>
    
</div>